@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
html {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #080710;
}

body::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 10%;
    left: 20%;
    background-color: #bfeaf5;
    border-radius: 50%;
    animation: animates 5s ease-in-out infinite;
}

body::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 10%;
    right: 25%;
    background-color: #8d72e1;
    z-index: -10;
    border-radius: 50%;
    animation: animate 5s ease-in-out infinite;
}

@keyframes animates {
    0% {
        top: 10%;
        left: 40%;
    }
    50% {
        top: 5%;
        left: 5%;
    }
    100% {
        top: 10%;
        left: 40%;
    }
}
@keyframes animate {
    0% {
        right: 50%;
        bottom: 10%;
    }
    50% {
        right: 10%;
        bottom: 30%;
    }
    100% {
        right: 50%;
        bottom: 10%;
    }
}

.container {
    width: 450px;
    border-radius: 10px;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    color: #fff;
}
.form-control:focus {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    color: #fff;
}
